In [1]:
from solidstate import ConstantsSI

# Ashcroft–Mermin Eq. 1.1 — Electron Density
# Electron Density (Materials Science Convention)

In materials science, the electron number density is defined as
$$
n = \frac{N}{\Omega},
$$
where $N$ is the number of electrons contained in a volume $\Omega$.

For an elemental metal, the conduction-electron density is obtained from
$$
n = N_A\,\frac{z\,\rho}{M},
$$
where $z$ is the number of conduction electrons per atom.

## Parameter Table

| Symbol     | Python Name   | Description                           | Units        |
|------------|----------------|---------------------------------------|--------------|
| $n$        | `n`            | electron number density                | $m^{-3}$     |
| $N_A$      | `N_A`          | Avogadro’s number                      | $mol^{-1}$   |
| $z$        | `z`            | conduction electrons per atom          | –            |
| $\rho$     | `rho`          | mass density                           | kg/m$^3$     |
| $M$        | `M` or `molar_mass` | molar mass (atomic weight)      | kg/mol       |
| $N$        | `N`            | total number of electrons               | count        |
| $\Omega$   | `volume`       | volume                                 | m$^3$        |

## Interpretation

- $\rho/M$ gives the number of moles per unit volume.  
- Multiplying by $N_A$ gives atoms per unit volume.  
- Multiplying by $z$ gives conduction electrons per unit volume.

Thus,
$$
n = N_A\left(\frac{\rho}{M}\right)z.
$$

In [1]:
import numpy as np
def electron_density(
    rho: float, 
    M: float, 
    z: float
) -> float:
  """
  Compute the conduction-electron number density in SI units.

  Parameters
  ----------
  rho : float
    Mass density in kg/m^3.
  M : float
    Molar mass in kg/mol.
  z : float
    Number of conduction electrons per atom.

  Returns
  -------
  n : float
    Electron number density in m^-3.

  Notes
  -----
  The calculation uses the materials-science convention:

  n = N_A * (rho / M) * z

  where:
      rho / M      → mol/m^3
      (rho / M)*N_A → atoms/m^3
      z            → electrons/m^3
  """
  N_A = ConstantsSI.N_A
  return N_A * (rho / M) * z

In [3]:
Al_kwargs = {}
Al_kwargs["rho"] = 2700
Al_kwargs["M"]   = 0.02698
Al_kwargs["z"]   = 3

n_Al = electron_density(**Al_kwargs)
print(f"n_Al = {n_Al:.3e} m^-3")

n_Al = 1.808e+29 m^-3

In [4]:
def wignerseitz_radius(
  n: float):
  """
  Arguments:
  ----------
  n : float
    electron number density in m^-3.
  Returns
  -------
  m_s: : float
    wigner-seitz radius
  """    
  np.power(.75/np.pi/n,3)

In [5]:
import pandas as pd
import numpy as np


# -----------------------------------------------------------------------
#  Raw numerical data from Ashcroft & Mermin Table 1.1
# -----------------------------------------------------------------------

data = {
    "Element": [
        "Li", "Na", "K", "Rb", "Cs",
        "Cu", "Ag", "Au", "Be", "Mg", "Ca", "Sr", "Ba",
        "Nb", "Fe", "Mn", "Zn", "Cd", "Hg",
        "Al", "Ga", "In", "Tl", "Sn", "Pb", "Bi", "Sb"
    ],
    "T_ref": [
        78, 5, 5, 5, 5,
        300,300,300,300,300,300,300,300,
        300,300,300,300,300,78,
        300,300,300,300,300,300,300,300
    ],
    "Z": [
        1,1,1,1,1,
        1,1,1,2,2,2,2,2,
        1,2,2,2,2,2,
        3,3,3,3,4,4,5,5
    ],
    "n": [
        4.70,2.65,1.40,1.15,0.91,
        8.47,5.86,5.90,24.7,8.61,4.61,3.55,3.15,
        5.56,17.0,16.5,13.2,9.27,8.65,
        18.1,15.4,11.5,10.5,14.8,13.2,14.1,16.5
    ],
    "r_s": [
        1.72,2.08,2.57,2.75,2.98,
        1.41,1.60,1.59,0.99,1.41,1.73,1.89,1.96,
        1.63,1.12,1.13,1.22,1.37,1.40,
        1.10,1.16,1.27,1.31,1.17,1.22,1.19,1.13
    ],
    "r_s/a0": [
        3.25,3.93,4.86,5.20,5.62,
        2.67,3.02,3.01,1.87,2.66,3.27,3.57,3.71,
        3.07,2.12,2.14,2.30,2.59,2.65,
        2.07,2.19,2.41,2.48,2.22,2.30,2.25,2.14
    ]
}

df = pd.DataFrame(data)

df["n"] = df["n"] * 1e22

# keep r_s_over_a0 as given (dimensionless)

# -----------------------------------------------------------------------
#  Attach units metadata (clean, SI + standard A&M conventions)
# -----------------------------------------------------------------------

df.attrs = {
    "description": "Ashcroft & Mermin Table 1.1 — Electron Density Data",
    "source": {
        "reference": "Ashcroft & Mermin, Solid State Physics (1976), Table 1.1",
        "chapter": 1,
        "page": None,    # add if needed
    },
    "units": {
        "Element":   "-",
        "T_ref":     "K",
        "Z":         "1/atom",
        "n":         "cm^-3",
        "n_m3":      "m^-3",
        "r_s":       "Å",
        "r_s/a0":    "n.d."
    },
    "notes": {
        "n_definition": "n column has been scaled by 1e22 to convert table values to cm^-3",
        "r_s_definition": "Wigner-Seitz radius in Ångström",
        "temperature_note": "T_ref is the temperature at which n was measured",
        "a0": f"{ConstantsSI.a0} m (Bohr radius)"
    },
    "processing": {
        "converted_columns": ["n", "n_m3"],
        "scaling_applied": {
            "n": "value * 1e22"
        }
    },
    "version": {
        "created_by": "Project Koios",
        "dataset_version": "1.0.0",
        "schema_version": "1.0"
    }
}

df

   Element  T_ref  Z             n   r_s  r_s/a0
0       Li     78  1  4.700000e+22  1.72    3.25
1       Na      5  1  2.650000e+22  2.08    3.93
2        K      5  1  1.400000e+22  2.57    4.86
3       Rb      5  1  1.150000e+22  2.75    5.20
4       Cs      5  1  9.100000e+21  2.98    5.62
5       Cu    300  1  8.470000e+22  1.41    2.67
6       Ag    300  1  5.860000e+22  1.60    3.02
7       Au    300  1  5.900000e+22  1.59    3.01
8       Be    300  2  2.470000e+23  0.99    1.87
9       Mg    300  2  8.610000e+22  1.41    2.66
10      Ca    300  2  4.610000e+22  1.73    3.27
11      Sr    300  2  3.550000e+22  1.89    3.57
12      Ba    300  2  3.150000e+22  1.96    3.71
13      Nb    300  1  5.560000e+22  1.63    3.07
14      Fe    300  2  1.700000e+23  1.12    2.12
15      Mn    300  2  1.650000e+23  1.13    2.14
16      Zn    300  2  1.320000e+23  1.22    2.30
17      Cd    300  2  9.270000e+22  1.37    2.59
18      Hg     78  2  8.650000e+22  1.40    2.65
19      Al    300  3  1.810000e+23  1.10    2.07
20      Ga    300  3  1.540000e+23  1.16    2.19
21      In    300  3  1.150000e+23  1.27    2.41
22      Tl    300  3  1.050000e+23  1.31    2.48
23      Sn    300  4  1.480000e+23  1.17    2.22
24      Pb    300  4  1.320000e+23  1.22    2.30
25      Bi    300  5  1.410000e+23  1.19    2.25
26      Sb    300  5  1.650000e+23  1.13    2.14

In [ ]:
import numpy as np

class DrudeElectronDensity()